<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.UserInfoDao"> <!-- 这里面写入dao层的地址 -->
	<!-- select all Student -->
	
	<!-- 结果集映射：映射实体类属性与数据表字段名 -->
	<resultMap type="com.ssm.model.UserInfo" id="UserInfo">
	<result property="username" column="username" />
	<result property="useriphoncode" column="useriphoncode" />
	<result property="usercode" column="usercode" />
	<result property="pwd" column="pwd" />
	</resultMap>
	
	<!-- 根据用户号查询所有用户信息	 -->
	<select id="UserInfoAll"  resultType="UserInfo">
		select * From userinfo where username = #{username};
	</select>

		<!-- 查询最大员工号 -->
	<select id="max_usercode_userinfo"  resultType="int">
		select max(usercode) from userinfo;
	</select>
	

	<!-- 插入用户注册的信息 -->
	<select id="zhuceyh"  parameterType="UserInfo">
	 INSERT INTO userinfo(username,  
                              useriphoncode,  
                              usercode,  
                              pwd)
                          	 values
                          	 (#{username},
                          	  #{useriphoncode},
                          	  #{usercode},
                          	  #{pwd}
                          	 )
	</select>
	

</mapper>